.loginForm {
	margin: auto;
	width: 56rem;
	height: 56rem;

	border-radius: 1rem;
	background-color: #1C2333;

	h1 {
		text-align: center;
		color: #FFFFFF;
		font-size: 6.4rem;
		padding-top: 5rem;
	}

	.formBody {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;

		input {
			background-color: #0E1525;
			margin: auto;
			margin-bottom: 3.3rem;
			width: 41.5rem;
			height: 7rem;

			border: none;
			border-radius: 1rem;

			padding-left: 3.5rem;
			color: #FFFFFF;
			font-size: 3.6rem;
			font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
				'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
				'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

			&::placeholder {
				color: #9DA2A6;
			}

			&:focus, &:active {
				border: 0;
				outline: none;
			}
		}

		button {
			background-color: #0099FF;
			margin: auto;
			margin-bottom: 3.3rem;
			margin-top: 3.3rem;

			width: 41.5rem;
			height: 7rem;

			border: none;
			border-radius: 1rem;

			color: #FFFFFF;
			font-size: 3.2rem;
			font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
				'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
				'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

			&:hover {
				background-color: #0f8bdd;
				cursor: pointer;
			}
		}
	}
}

.flexBreak {
	flex-basis: 100%;
	height: 0;
}